*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f3f3f3;
}

.flexbox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 780px;
  overflow: hidden;
  padding: 15px;
  margin: 0 auto;
  height: 100vh;
}

.flexbox .board{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding:15px;
  background-color: #313131;
  
}

.flexbox .board .card{
padding: 15px 12px;
background-color: #f3f3f3;
cursor: pointer;
margin-bottom: 15px;
}